section#Projects {
    background-color: rgb(108, 138, 69);
    background: linear-gradient(120deg, rgb(126, 187, 45) 0%, rgb(4, 138, 172) 100%);
}

.proj {
    margin-bottom: 10px;
}

.project {
    display: flex;
    margin: 5px;
    float: left;
    border: 6px white solid;
    border-radius: 8px;
    transition: transform .3s;
}

.project:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.25);
    transition: transform .2s;
}